.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  text-align: center;
}
h1{
  padding-top: 2%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  margin: 5% 0%;  
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  margin: 5% 0%;  
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-deck {  
  justify-content: space-between;

}

.card-deck .card {
  margin: 0 0 1rem;
  text-align: center;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 992px)
{
  .card-deck .card {
    -ms-flex: 0 0 19%;
    flex: 0 0 19%;
  }
}


/* Head FOOD tag */

.head {
  color: #fff;
  font-size: 400%;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.head {
  text-align: center;
}